@import "config/normalize";

$desktop: 1200px;
$tablets: 768px;
$phones: 480px;

@import "config/mixins";
@import "layout/fonts";
@import "layout/base";
@import "layout/adjustment";

@import "sections/header";
@import "sections/first-screen";
@import "sections/good";
@import "sections/menu";
@import "sections/testimonials";
@import "sections/slider";
@import "sections/location";
@import "sections/footer";